a:hover{
  text-decoration: none;
}
.teaser {
  width: 100%;
  margin: 0 auto;
  padding: 50px 40px;

  >div {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  img {
    display: block;
    width: 100%;
  }

  h2 {
    margin: 0 0 32px;
    color: #202124;
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: 18px;
    padding-left: 38px;

    color: #536477;
    font-size: 20px;
    line-height: 28px;

    &::before {
      content: "✓";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #50b96d;
      color: #fff;

      font-size: 13px;
      font-weight: 700;
    }
  }
  a:first-child {
    color: #fff;
    background: linear-gradient(109deg, #0b7def 39.94%, #701cca);
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
  }

  a:last-child {
    color: #005dba;
    background: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5%;

    &::after {
      content: "→";
      margin-left: 12px;
      color: #005dba;
    }
  }

}

.teaser.right>div {
  flex-direction: row-reverse;
}

.teaser.top>div {
  flex-direction: column;
}
.teaser.bottom>div {
  flex-direction: column-reverse;
}